<div style="height: 200px ;margin: 30px 50px; background-color: #eee; border-radius: 20%" id="home" class="page-container">
<div class="row">
  <div class="col-md-6">
    <!-- <h2>Introduct</h2> -->
    <h1>HJC is a social development environment for front-end designers and developers. 👋</h1>
    <br>
        <span>It’s the best place to build and deploy a website, show off your work, build test cases, and find inspiration.</span>
   <span></span>
   <button ui-sref="playground.guest" class="btn btn-md btn-create">Start</button>
      </div>
   <div class="col-md-6">
     <div class="hjc_home">
        <div class="slideshow-container">

            <div class="mySlides faded">
              <img src="../lib/images/anh1.png" style="width:100%">
              <div class="text">Caption Text</div>
            </div>
            
            <div class="mySlides faded">
              <img src="../lib/images/anh2.png" style="width:100%">
              <div class="text">Caption Two</div>
            </div>
            
            <div class="mySlides faded">
              <img src="../lib/images/bg.jpeg" style="width:100%">
              <div class="text">Caption Three</div>
            </div>
            
            </div>
            <br>
            
            <div style="text-align:center">
              <span class="dots"></span> 
              <span class="dots"></span> 
              <span class="dots"></span> 
            </div>
     </div>
      
        
   </div>
</div>
  
   
  <!-- <div class="col-md-6">
        <div id="slide" class="carousel slide" data-ride="carousel">
          <ul class="carousel-indicators">
            <li data-target="#slide" data-slide-to="0" class="active"></li>
            <li data-target="#slide" data-slide-to="1"></li>
            <li data-target="#slide" data-slide-to="2"></li>
          </ul>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../lib/images/anh1.png" alt="anh 1">
            </div>
            <div class="carousel-item">
              <img src="../lib/images/anh2.png" alt="anh 2">
            </div>
            <div class="carousel-item">
              <img src="../lib/images/bg.jpeg" alt="anh 3">
            </div>
          </div>
        
          <a class="carousel-control-prev" data-target="#slide" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" data-target="#slide" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        
        </div>
      </div> -->
</div>
