<div class="row">
  <div class="col-sm-6">
    <h3>Express</h3>
    <p>JSA uses Express framework and Bootstrap to build a demo web application.</p>
    <p>Express.js is a web application framework for Node.js, it is free and open-source software under the MIT License.</p>
  </div>
  <div class="col-sm-6">
    <h3>Bootstrap</h3>
    <p>Bootstrap is a free front-end framework for faster and easier web development</p>
    <p>Bootstrap includes HTML and CSS based responsive design templates</p>
  </div>
</div>
