<div id="home" class="page-container-fluid" style='padding: 30px; background-image: url("../lib/images/homeHJC.jpg");'>
  <div class="row">
    <div class="col-md-5" style="padding: 0px">
      <!-- <h2>Introduct</h2> -->
      <br>
      <!-- style='background-image: url("../lib/images/bg.jpeg");' -->
      <div>
        <h2 style="font-size: 40px">HJC is a <strong>social development environment</strong> for front-end designers
          and developers. 👋</h2>
      </div>
      <span style="font-size: 20px">It’s the best place to build and deploy a website, show off your work, build test
        cases, and find
        inspiration.</span><br><br>
      <span style="font-size: 20px">Starting to become web developer</span>
      <div style="display: flex; justify-content: center; margin-top: 30px">
        <button ui-sref="playground.guest" class="btn btn-start btn-hover-shadow">Start</button>
      </div>
    </div>
    <div class="col-md-7">
      <div class="hjc_home" style="box-shadow: 0 5px 8px rgb(185, 181, 181);">
        <div class="slideshow-container">

          <div class="mySlides faded">
            <img src="../lib/images/anh1.png" style="width:100%">
            <div class="text">Project mangagement</div>
          </div>

          <div class="mySlides faded">
            <img src="../lib/images/anh2.png" style="width:100%">
            <div class="text">New project</div>
          </div>

          <div class="mySlides faded">
            <img src="../lib/images/bg.jpeg" style="width:100%">
            <div class="text">Profile</div> 
          </div>

        </div>
        <br>

        <div style="text-align:center">
          <span class="dots"></span>
          <span class="dots"></span>
          <span class="dots"></span>
        </div>
      </div>


    </div>
  </div>

</div>