<div class="row widget-row editor">
    <div class="col-sm-3 col-md-3 margin-bottom-20">
        <div class="editor-treview">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-social-dribbble font-blue-sharp"></i>
                        <span class="caption-subject font-blue-sharp bold uppercase">Your directory</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default"
                            href="javascript:;" 
                            title="new folder"
                            ng-click="newFolder()">
                            <i class="fa fa-folder-o gray"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default" 
                            href="javascript:;" 
                            title="new file"
                            ng-click="newFile()">
                            <i class="fa fa-file-code-o gray"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default" 
                            href="javascript:;" 
                            title="delete"
                            ng-click="delete()">
                            <i class="fa fa-trash-o gray"></i>
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="tree_1" class="tree-demo">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-md-9 margin-bottom-20">
        <div class="editor-tabs">
            <div id="codeeditor"></div>
        </div>
    </div>
</div>
<div class="row widget-row">
    <div class="col-md-12 result-panel">
        <iframe id="result-iframe" class="result-iframe"></iframe>
    </div>
</div>
