<div class="row widget-row editor">
    <div class="col-sm-3 col-md-3 margin-bottom-20">
        <div class="editor-treview">
            <div id="tree_1" class="tree-demo">
                
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-md-9 margin-bottom-20">
        <div class="editor-tabs">
            <div id="codeeditor"></div>
        </div>
    </div>
</div>
<div class="row widget-row">
    <div class="col-md-12 result-panel">
        <iframe id="result-iframe" class="result-iframe"></iframe>
    </div>
</div>
