<div class="row">
  <div ng-repeat="project in projects" class="col-xs-6 col-sm-4 col-md-3">
    <div class="item">
      <div class="item-view">
        <div class="item-action">
          <button type="button" ng-click="showDeleteModal(project.project_id)" class="close btn-action" title="Remove">
            <i class="fa fa-close hover-display"></i>
          </button>
          <button type="button" ng-click="showShareModal(project)" class="close btn-action" title="Share">
            <i class="fa fa-share-alt hover-display"></i>
          </button>
          <button type="button" ng-click="showEditModal(project)" class="close btn-action" title="Edit">
            <i class="fa fa-pencil hover-display"></i>
          </button>
        </div>
        <i class="fa fa-folder blue icon-big"></i>
      </div>
      <div class="item-title">
        <a ui-sref="projects.show({project_id: project.project_id})" title="Open project">
          {{project.project_name}}
        </a>
      </div>
    </div>
  </div>
</div>
