<div class="row">
  <div ng-repeat="shared_project in shared_projects" class="col-xs-6 col-sm-4 col-md-3">
    <div class="item">
      <div class="item-view">
        <div>
          <i class="fa fa-folder blue icon-big"></i>
        </div>
        <div>
          <i class="fa fa-user gray author">
            <span>{{shared_project.author_email}}</span>
          </i>
        </div>
      </div>
      <div class="item-title">
        <a ui-sref="projects.show_shared_project({project_id: shared_project.project_id})" title="View project">
          {{shared_project.project_name}}
        </a>
      </div>
    </div>
  </div>
</div>