<div class="row widget-row editor">
  <div class="col-sm-3 col-md-3 margin-bottom-20">
    <div class="editor-treview">
      <div class="portlet light">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-user margin-rigth-10px"></i>
            <span class="caption-subject blue bold">{{shared_project.author_email}}</span>
          </div>
        </div>
        <div class="portlet-body">
          <div id="tree_1" class="tree-demo">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-md-9 margin-bottom-20">
    <div class="editor-tabs">
      <div id="codeeditor"></div>
    </div>
  </div>
</div>
<div class="row widget-row">
  <div class="col-md-9 result-panel margin-bottom-20">
    <iframe id="result-iframe" class="result-iframe"></iframe>
  </div>
  <div class="col-md-3 margin-bottom-20">
    <div class="console-panel">
      <div class="m-header">
        <span class="m-header-title bold uppercase blue">Console</span>
        <button class="m-header-action btn blue bold btn-hover-shadow" type="button" ng-click="clearConsole()">Clear</button>
      </div>
      <div class="m-content" id="console">
      </div>
    </div>
  </div>
</div>
